@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  --black: #09090b;
  --blackShade1: #71717a;
  --blackShade2: #e5e7eb;
}

.css-r4kerh-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--black) !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: var(--black) !important;
}
